@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 95.69%;
    --foreground: 0 0% 14.51%;

    --card: 0 0% 91.37%;
    --card-foreground: 0 0% 3.92%;

    --popover: 0 0% 91.37%;
    --popover-foreground: 0 0% 3.92%;

    --primary: 267 85.86% 38.82%;
    --primary-foreground: 210 40% 98.04%;

    --secondary: 0 0% 86.27%;
    --secondary-foreground: 0 0% 10.2%;

    --muted: 210 15.38% 89.8%;
    --muted-foreground: 216 10.2% 48.04%;

    --accent: 0 0% 91.37%;
    --accent-foreground: 0 0% 10.2%;

    --destructive: 0 63.87% 53.33%;
    --destructive-foreground: 0 0% 98.04%;

    --border: 0 0% 81.96%;
    --input: 0 0% 81.96%;

    --ring: 0 0% 3.92%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 91.37%;
    --sidebar-foreground: 0 0% 3.92%;
    --sidebar-primary: 267 85.86% 38.82%;
    --sidebar-primary-foreground: 210 40% 98.04%;
    --sidebar-accent: 0 0% 91.37%;
    --sidebar-accent-foreground: 0 0% 10.2%;
    --sidebar-border: 0 0% 81.96%;
    --sidebar-ring: 0 0% 3.92%;

    --radius: 0.75rem;

    --theme-primary: 185 100% 57%;
    --theme-bg: 210 100% 12%;
    --theme-fg: 203 41% 39%;

    --theme-50: #fafafa;
    --theme-100: #f4f4f5;
    --theme-200: #e4e4e7;
    --theme-300: #d4d4d8;
    --theme-400: #a1a1aa;
    --theme-500: #71717a;
    --theme-600: #52525b;
    --theme-700: #3f3f46;
    --theme-800: #27272a;
    --theme-900: #18181b;
    --theme-950: #09090b;

    --accent-50: #f0fdf4;
    --accent-100: #dcfce7;
    --accent-200: #bbf7d0;
    --accent-300: #86efac;
    --accent-400: #4ade80;
    --accent-500: #22c55e;
    --accent-600: #16a34a;
    --accent-700: #166534;
    --accent-800: #16532e;
    --accent-900: #154628;
    --accent-950: #052e16;
  }
  .dark {
    --background: 0 0% 7.06%;
    --foreground: 0 0% 89.8%;

    --card: 0 0% 11.37%;
    --card-foreground: 0 0% 94.51%;

    --popover: 0 0% 11.37%;
    --popover-foreground: 0 0% 94.51%;

    --primary: 267 95.16% 75.69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 17.25%;
    --secondary-foreground: 0 0% 89.8%;

    --muted: 0 0% 22.75%;
    --muted-foreground: 0 0% 64.71%;

    --accent: 174 97.29% 43.33%;
    --accent-foreground: 0 0% 0%;

    --destructive: 349 52.24% 60.59%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 22.75%;
    --input: 0 0% 22.75%;
    --ring: 0 0% 89.8%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 0 0% 11.37%;
    --sidebar-foreground: 0 0% 94.51%;
    --sidebar-primary: 267 95.16% 75.69%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 174 97.29% 43.33%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 22.75%;
    --sidebar-ring: 0 0% 89.8%;

    --radius: 0.75rem;

    --theme-primary: 185 100% 57%;
    --theme-bg: 210 100% 12%;
    --theme-fg: 203 41% 39%;
    --theme-50: #09090b;
    --theme-100: #18181b;
    --theme-200: #27272a;
    --theme-300: #3f3f46;
    --theme-400: #52525b;
    --theme-500: #71717a;
    --theme-600: #a1a1aa;
    --theme-700: #d4d4d8;
    --theme-800: #e4e4e7;
    --theme-900: #f4f4f5;
    --theme-950: #fafafa;

    --accent-50: #052e16;
    --accent-100: #154628;
    --accent-200: #16532e;
    --accent-300: #166534;
    --accent-400: #16a34a;
    --accent-500: #22c55e;
    --accent-600: #4ade80;
    --accent-700: #86efac;
    --accent-800: #bbf7d0;
    --accent-900: #dcfce7;
    --accent-950: #f0fdf4;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.padding-main {
  @apply px-4 lg:px-4 xl:px-6 2xl:px-8;
}

.hero-size {
  @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
}

.sub-size {
  @apply text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
}

.title-size {
  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[data-icon] {
  @apply w-auto h-auto;
}
